<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Store</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand lead" href="@Url.Action("Index","Home")">ShopBay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUltra" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarUltra">
                <form action="\Products\Products" method="post" class="form-inline my-1 my-lg-1 pl-0 col justify-content-md-center">
                    <input class="form-control ml-0 mr-2 w-50" type="text" placeholder="Search" aria-label="Search" id="bus" name="keyWords" />
                    <button class="btn btn-outline-primary my-1 my-sm-0" type="submit" id="but">Search</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content marginTopContent">
        @RenderBody()

    </div>

    <!--el footer-->
    <footer class="bg-dark pt-5 pb-2 mt-4 w-100 text-light" style="position:absolute;bottom:auto;left:0px">
        <div class="container">
            <div class="row col-12">
                <div class="col-lg-4 col-md-6">
                    <!--Información de contacto-->
                    <section>
                        <h3 class="widget-title text-uppercase">Get In Touch With Us</h3>
                        <hr/>
                        <p class="">Phone: 00 000 000 000</p>
                        <p>
                            <a class="navi-link-light" href="#">support@ShopBay.com</a>
                        </p>
                    </section>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--AboutUs-->
                    <section>
                        <h3 class="widget-title text-uppercase">About Us</h3>
                        <hr />
                        <div class="row">
                            <a href="#" class="nav-item col-12 py-1">Careers</a>
                            <a href="#" class="nav-item col-12 py-1">About ShopBay</a>
                            <a href="#" class="nav-item col-12 py-1">Our Story</a>
                            <a href="#" class="nav-item col-12 py-1">Services</a>
                        </div>
                    </section>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-7 pb-1">
                    <!-- Payment Methods-->
                    <img src="~/Content/payment_methods.png" alt="Payment Methods" class="img-fluid py-4">
                </div>
                <div class="col-5 pb-1">
                    <!--Subscription-->
                    <div class="row">
                        @Html.BeginForm("CanjearPlata", "Home"){
                            <input class="col-7 bg-dark text-light my-4 py-3" type="text" name="canjear" placeholder="$20000" style="border-radius:20px">
                            <input type="submit" class="btn btn-primary col-4 my-4 py-3 ml-1" style="border-radius:20px" />
                        }
                    </div>
                    <span class="text-light">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</span>
                </div>
            </div>
            <hr/>


            <!-- Copyright-->
            <p class="footer-copyright">© All rights reserved.</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
