@model ShopBay.Models.Category
@{
    ViewBag.Title = "Admin";
}


<script>
    function init() {
        var inputFile = document.getElementById('uploadFile');
        inputFile.addEventListener('change', mostrarImagen, false);
    }
    var imgTwo = false;
    function mostrarImagen(event) {
        var files = event.target.files;
        var output = document.getElementById("carouselImages");
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.match('image')) continue;
            var picReader = new FileReader();
            picReader.addEventListener("load", function (event) {
                var picFile = event.target;
                var div = document.createElement("div");

                if (!imgTwo) {
                    div.className = "carousel-item active";
                    imgTwo = true;
                } else {
                    div.className = "carousel-item";
                }
                div.innerHTML = "<img style=\'height: 243.28px;width: 432.5px\' class=\'d- block img- fluid\' src=\'" + picFile.result + "\'/>";

                output.insertBefore(div, null);
            });
            //Read the image
            picReader.readAsDataURL(file);
        }
    }
    window.addEventListener('load', init, false);
</script>
<div class="row pt-4">
    <h4>Publish category</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox" id="carouselImages">

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-bodylead">
                            <div class="bnt btn-primary rounded">
                                <input type="file" id="uploadFile" value="Upload" name="uploadFile" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CategoryTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoryTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary my-2" />
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="col-12">
            <h2 class="lead">Users</h2>
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>TypeUser</th>
                        <th>Rate</th>

                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;
                        foreach (var user in ViewBag.Usuarios)
                        {
                            i = i + 1;
                            <tr>
                                <th>@i</th>
                                <th>@user.Username</th>
                                <th>@user.Name</th>
                                <th>@user.Mail</th>
                                <th>@user.Type</th>
                                <th>@user.Type</th>
                                <th>
                                    <a href="@Url.Action("DeleteUser","Admin", new { id=user.UserID})">Delete</a>
                                </th>
                            </tr>


                        }
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="col-12">
            <h2 class="lead">Products</h2>

            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>User</th>
                        <th>Existencies</th>
                        <th>Rate</th>
                        <th>Auctión</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{  i = 0;
                foreach (var product in ViewBag.Productos)
                {
                    i = i + 1;
                            <tr>
                                <th>@i</th>
                                <th>@product.Name</th>
                                <th>@product.Price</th>
                                <th>@product.UserID</th>
                                <th>@product.Existencies</th>
                                <th>@product.Rate</th>
                                @if (product.isAuction == 0)
                                {
                                    <th>No</th>
                                }
                                else
                                {
                                    <th>Yes</th>
                                }
                                <th>
                                    <a href="@Url.Action("DeleteProduct","Admin", new { id=product.ProductID })">Delete</a>
                                </th>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
                        }
</div>
