@model ShopBay.Models.Products
@{
    ViewBag.Title = "APUser";
}
<script type="text/javascript">
    function showDate() {
        var s = document.getElementById('selectTp');
        if (s.options[s.selectedIndex].value == "Aution") {
            document.getElementById('divDate').style.display = 'block';
        } else {
            document.getElementById('divDate').style.display = 'none';

        }
    }
    function init() {
        var inputFile = document.getElementById('inputFile');
        inputFile.addEventListener('change', mostrarImagen, false);
    }
    var imgTwo = false;
    function mostrarImagen(event) {
        var files = event.target.files;
        var output = document.getElementById("carouselImages");
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.match('image')) continue;
            var picReader = new FileReader();
            picReader.addEventListener("load", function (event) {
                var picFile = event.target;
                var div = document.createElement("div");

                if (!imgTwo) {
                    div.className = "carousel-item active";
                    imgTwo = true;
                } else {
                    div.className = "carousel-item";
                }
                div.innerHTML = "<img style=\'height: 243.28px;width: 432.5px\' class=\'d- block img- fluid\' src=\'" + picFile.result + "\'/>";

                output.insertBefore(div, null);
            });
            picReader.readAsDataURL(file);
        }
    }
    window.addEventListener('load', init, false);
</script>
<div class="container marginTopContent pt-4">
    @using (Html.BeginForm("APUser", "APUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox" id="carouselImages">

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="bnt btn-primary rounded">
                    <input type="file" id="inputFile" value="Upload" name="inputFile" accept="image/*">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">

                @Html.AntiForgeryToken()
                <div class="row mt-1">
                    <div class="form-group col-sm-4">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-sm-4">
                        @Html.LabelFor(model => model.Price)
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="form-group col-sm-8">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="form-group col-sm-4">
                        @Html.LabelFor(model => model.Existencies)
                        @Html.EditorFor(model => model.Existencies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Existencies, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="sProduct">Buy or Auction</label>
                        <select class="form-control" onchange="showDate()" id="selectTp" name="selectType">
                            <option>Buy Now</option>
                            <option>Aution</option>
                        </select>
                    </div>
                    <div id="divDate" style='display:none;' class="form-group col-sm-4">
                        <label for="categoryProduct">End of Auction</label>
                        <input class="form-control" name="DateInput" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                    </div>
                </div>

                <div class="row my-1">
                    <div class="form-group col-sm-4">
                        <label for="categoryProduct">Category</label>
                        <select class="form-control" id="categoryProduct" name="selectCategory">
                            @foreach (var c in ViewBag.Categories)
                            {
                                <option id="@c.CategoryID">@c.CategoryTitle</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="categoryProduct">Shipping</label>
                        <select class="form-control" id="selectShipping" name="selectShipping">
                            @foreach (var c in ViewBag.ShippingOP)
                            {
                                <option id="@c.ShippingID">@c.ShippingTitle</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="row mt-0">
                    <div class="col-md-3">
                        <input type="submit" value="Create" class="btn btn-primary my-2" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>